<!DOCTYPE html>
<html>
  <head>
    <title>Documents</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div>
    <% if current_user %>
      <%= form_tag(destroy_user_session_path, method: :delete) do %>
        You are logged as <b><%= current_user.email %></b>
        <button type='submit'>logout</button>
      <% end %>
    <% else %>
      <%= form_tag(user_doorkeeper_omniauth_authorize_path, method: 'post') do %>
        Welcome to Devise demo <button type='submit'>Login</button>
      <% end %>
    <% end %>
    <hr>
  </div>
    <%= yield %>
  </body>
</html>
